body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    padding: 20px 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #333;
    color: #fff;
}

.hero h1 {
    color: #fff;
}

.about-us,
.our-services,
.why-choose-us,
.partners,
.contact-us {
    padding: 50px 0;
}

.our-services ul,
.why-choose-us ol {
    list-style: none;
}

.our-services li,
.why-choose-us li {
    margin-bottom: 10px;
}

.buttons a {
    display: inline-block;
    margin-right: 15px;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    background-color: #8b4513; /* tom de madeira */
    border-radius: 5px;
}

.buttons a:hover {
    background-color: #654321; /* tom mais escuro de madeira ao passar o mouse */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
