<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Kolmogorov-Smirnov</title>
</head>
<body>
    <h1>Teste de Kolmogorov-Smirnov</h1>
    
    <form method="post">
        <label for="user_data">Insira os dados separados por vírgula:</label>
        <input type="text" name="user_data" required>
        <button type="submit">Realizar Teste</button>
    </form>

    {% if result %}
        <h2>Resultado:</h2>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
